#### Define NRPE command here, you need to have this for external host checks #####

define command {
	command_name                   check_nrpe
	command_line                   /usr/local/nagios/libexec/check_nrpe -H $HOSTADDRESS$ -c $ARG1$
}