#Custom host groups

define hostgroup {
     hostgroup_name      servers
     alias               Linux Servers
}

#    members             {% for host in groups['nagiosclients'] %}{{ host }}{% if not loop.last %},{% endif %}{% endfor %}