###############################################################################
#
# CONTACTS
#
###############################################################################

define contact {

    contact_name            nagiosadmins
    use                     generic-contact
    alias                   Nagios Admin
    email                   yourmail@domain.com
}

###############################################################################
#
# CONTACT GROUPS
#
###############################################################################

define contactgroup {

    contactgroup_name       nagadmins
    alias                   Nagios Administrators
    members                 nagiosadmins
}
