{% for host in groups['clientservers'] %}
define host {
	use                     host
	host_name               {{ host }}
	alias                   {{ host }}
	address                 {{ host }}
	hostgroups              servers
}
{% endfor %}